<div class="row justify-content-between">
  <div class="col-4">
   <h2><u>{{username}} DASHBOARD</u></h2>
  </div>
  <div class="col-2">
     <button class="btn btn-primary" id="new-btn"> + New Post</button>
  </div>
</div>

{{#each posts as |post|}}
  <div class="row mb-4 text-center pb-3 post">
    <div class="col-md-5">
      <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
       <p>Created on {{format_date post.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{post.post_content}}
      </p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary edit-btn" data-id="{{post.id}}">
        Edit
      </button>

      <button class="btn btn-danger del-btn" data-id="{{post.id}}">
        Delete
      </button>
    </div>

  </div>
{{/each}}

<script src="/js/post.js"></script>