<div class="text-center">
  <div class="post">
    <h2>{{movie_review}}</h2>
    <p>{{post_content}}</p>
    <p>Created by {{username}} on {{date_created}}</p>
  </div>

  {{!-- Only render if comments exists --}}
  {{#if comments}}
    <section class="text-center">
      {{#each comments as |comment|}}
      {{> comment-details}}
      {{/each}}
    </section>
  {{/if}}

<!--form to add comments to a posted review-->
  <form class="form comment-form" data-id="{{id}}">
    <div class="form-group">
      <label for="new-comment bg-light">New Comment:</label>
      <input class="form-input" type="text" id="new-comment"/>
      <button class="btn btn-primary" type="submit" id="commentBtn">
      Comment
      </button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>

